{% extends 'base.html' %}
{% block header_text %}Your To-Do List{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
{% block table %}
        <h4 id="id_list_owner">{{ list.owner.email }}</h4>
		<table id="id_list_table" class="table">
			{% for item in list.item_set.all %}
				<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
			{% endfor %}
		</table>
        <div>Shared With:</div>
        <ul>
            {% for sharee in list.shared_with.all %}
            <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
        </ul>
        <div>Share: </div>
        <form action="{% url 'share_list' list.id %}" method="POST">
            {% csrf_token %}
           <input type="text" name="email" placeholder="your-friend@example.com" >
        </form>
{% endblock %}
